<html>
  <head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.cell').click(function(){

          $(this).css("background-color", "#CCC");
         
          var px = $(this).data('x');
          var py = $(this).data('y');
      
          var audio = new Audio('/js/click.mp3');
          audio.play();
      
          $.post(
            '/',
            {
              x: px,
              y: py,
              player: $('.player').data('id'),
            },
            function(data, status, xhr){
              location.reload();
            }
          );
         
        });
      });
    </script>
    <style>
      .cell {
      cursor: pointer;
      border: 1px dotted #AAA;
      width:25px;
      height:25px;
      text-align: center;
      vertical-align: middle;
      }
      .cell.volt.player-1 {
        color:#FF0000;
      }
      .cell.volt.player-2 {
        color:#0000FF;
      }

      .cell.override.player-1 {
        color:#FFF;
        background-color:#FF0000;
      }
      .cell.override.player-2 {
        color:#FFF;
        background-color:#0000FF;
      }
      
      
    </style>
  </head>
  
  <body>
    <span class="player" data-id="{{ player_id }}" >PLAYER : {{ player_id }}</span>

    <table style = "border: 1px solid #000" cellpadding=0 cellspacing=0>
    {% for line in grid %}
    <tr>
       {% for point in line %}
      
         {% if point.state != 0  %}
       
           {% if point.state == 2 %}
             {% set class_state = 'override' %}
           {% elif point.state == 1 %}
             {% set class_state = 'volt' %}
           {% endif %}
         
           {% if point.activated %}
             {% set class_actif = 'activated' %}
           {% else %}
             {% set class_actif = 'deactivated' %}
           {% endif %}
         {% else %}
           {% set class_state = 'empty' %}
           {% set class_actif = '' %}
         {% endif %}

         {% if point.state == 1 %}
           {% set point_val = 'X' %}
         {% elif point.state == 2 %}
           {% set point_val = '+' %}
         {% else %}
           {% set point_val = ' ' %}
         {% endif %}

       
       <td class="cell {{class_state}} {{class_actif}} player-{{point.player.id}}" data-x = "{{point.posX}}" data-y = "{{point.posY}}" colspan = 2>
         {{point_val}}
       </td>
       {% endfor %}
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
